body {
  margin: 10px;
  padding: 10px;
  background-color: #000000;
}


h1 { font-size: 80px; width: 460px; color: #CC3300; background-color: #000D1A;
     padding: 10px;
     border-radius: 10px 20px 20px 10px;
}

h2 { font-size: 60px; color: #CC3300; }

hr { width: 600px; margin-left: 200px; }

.headerimg {
  float: right; border-radius: 10px 30px 30px 10px;
  width: 500px;
  height: 130px;
}

.row {
  background-color: #000D1A;
  margin: 30px; padding: 10px;
  border-radius: 15px;
}

section {
  text-align: center;
  margin: 10px;
}

button {
  background-color: #000D1A;
  width: 310px;
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
}

a {  color: #FF9900; }
  
footer {
  background-color: #000D1A;
  text-align: center;
  color: #FFFFFF;
  margin: 30px;
  padding-left: 5px;
  border-radius: 10px 10px 30px 30px;
}